<section class="site-order overlay" id="site-order">
    <div class="container">
        <h4 class="order-title">Are you ready to order a website?</h4>
        <p class="order-text sub-title">Book design of any website in the company Quardex, and get wonderful gift - a
            promotion up to 3 months, absolutely for free!
            Get ready for new challenges!
            Request a free calculation of the cost right now:</p>

        <form class="order-form" action="">
            <label class="order-label">
                <input type="text" class="order-item">
                <span class="oder-placeholder">Your name</span>
            </label>
            <label class="order-label">
                <input type="email" class="order-item">
                <span class="oder-placeholder">Your email</span>
            </label>
            <label class="order-label question-label">
                <textarea name="" id="" cols="30" rows="10" class="order-item"></textarea>
                <span class="oder-placeholder">Your question is...</span>
            </label>
            <div class="btn-box">
                <button class="btn">Order</button>
            </div>
        </form>
    </div>
</section>