<section class="services" id="services">
    <div class="container">
        <h2 class="section-title">Services</h2>
        <div class="services-wrapper">
            <div class="services-item">
                <svg class="services-icon">
                    <use xlink:href="./img/sprite.svg#tools" alt="tools"></use>
                </svg>
                <h3 class="services-title item-title">Unique design</h3>
                <p class="services-description text-description">Perfect planning of all details - the motto of the
                    correct design for an Internet resource.
                    Creation of stylish marketing design which has incorporated the comfort, appeal and creative
                    promise,
                    will guarantee a powerful growth of your future website.</p>
            </div>

            <div class="services-item">
                <svg class="services-icon">
                    <use xlink:href="./img/sprite.svg#keyboard" alt="keyboard"></use>
                </svg>
                <h3 class="services-title item-title">Intelligent Ergonomics</h3>
                <p class="services-description text-description">Travelling along the website is a journey too.
                    Intelligent ergonomics is aimed at making the customer come to the final destination easily and with
                    pleasure,
                    perform a desired by you action and enjoy his time on your resource. And come back again.</p>
            </div>

            <div class="services-item">
                <svg class="services-icon">
                    <use xlink:href="./img/sprite.svg#tools" alt="tools"></use>
                </svg>
                <h3 class="services-title item-title">Unique design</h3>
                <p class="services-description text-description">Perfect planning of all details - the motto of the
                    correct design for an
                    Internet resource.
                    Creation of stylish marketing design which has incorporated the comfort, appeal and creative
                    promise,
                    will guarantee a powerful growth of your future website.</p>
            </div>

            <div class="services-item">
                <svg class="services-icon">
                    <use xlink:href="./img/sprite.svg#tools" alt="tools"></use>
                </svg>
                <h3 class="services-title item-title">Unique design</h3>
                <p class="services-description text-description">Perfect planning of all details - the motto of the
                    correct design for an
                    Internet resource.
                    Creation of stylish marketing design which has incorporated the comfort, appeal and creative
                    promise,
                    will guarantee a powerful growth of your future website.</p>
            </div>

            <div class="services-item">
                <svg class="services-icon">
                    <use xlink:href="./img/sprite.svg#tools" alt="tools"></use>
                </svg>
                <h3 class="services-title item-title">Unique design</h3>
                <p class="services-description text-description">Perfect planning of all details - the motto of the
                    correct design for an
                    Internet resource.
                    Creation of stylish marketing design which has incorporated the comfort, appeal and creative
                    promise,
                    will guarantee a powerful growth of your future website.</p>
            </div>

            <div class="services-item">
                <svg class="services-icon">
                    <use xlink:href="./img/sprite.svg#tools" alt="tools"></use>
                </svg>
                <h3 class="services-title item-title">Unique design</h3>
                <p class="services-description text-description">Perfect planning of all details - the motto of the
                    correct design for an
                    Internet resource.
                    Creation of stylish marketing design which has incorporated the comfort, appeal and creative
                    promise,
                    will guarantee a powerful growth of your future website.</p>
            </div>

            <div class="services-item">
                <svg class="services-icon">
                    <use xlink:href="./img/sprite.svg#tools" alt="tools"></use>
                </svg>
                <h3 class="services-title item-title">Unique design</h3>
                <p class="services-description text-description">Perfect planning of all details - the motto of the
                    correct design for an
                    Internet resource.
                    Creation of stylish marketing design which has incorporated the comfort, appeal and creative
                    promise,
                    will guarantee a powerful growth of your future website.</p>
            </div>

            <div class="services-item">
                <svg class="services-icon">
                    <use xlink:href="./img/sprite.svg#tools" alt="tools"></use>
                </svg>
                <h3 class="services-title item-title">Unique design</h3>
                <p class="services-description text-description">Perfect planning of all details - the motto of the
                    correct design for an
                    Internet resource.
                    Creation of stylish marketing design which has incorporated the comfort, appeal and creative
                    promise,
                    will guarantee a powerful growth of your future website.</p>
            </div>

            <div class="services-item">
                <svg class="services-icon">
                    <use xlink:href="./img/sprite.svg#tools" alt="tools"></use>
                </svg>
                <h3 class="services-title item-title">Unique design</h3>
                <p class="services-description text-description">Perfect planning of all details - the motto of the
                    correct design for an
                    Internet resource.
                    Creation of stylish marketing design which has incorporated the comfort, appeal and creative
                    promise,
                    will guarantee a powerful growth of your future website.</p>
            </div>
        </div>

        <div class="btn-panel">
            <p class="sub-title">Read additional bonus items included in the total cost of services for the development
                of the website - click on the button below.</p>
            <button class="btn">Show All</button>
        </div>

        <img class="cloud-item" src="img/cloud.png" alt="cloud">
    </div>
</section>