.portfolio {
  position: relative;
  padding: 55px 0;

  background-image: url("../img/bg_portfolio_mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media  (min-width: 1024px){
  .portfolio {
    padding: 150px 0;
    background-image: url("../img/bg_portfolio.jpg");
    background-attachment: fixed;
  }
}