<section class="portfolio overlay" id="portfolio">
    <div class="container">
        <h2 class="section-title">Portfolio</h2>
        <p class="sub-title">When the work speaks for itself</p>
        <div class="btn-panel">
            <button class="btn">View</button>
        </div>
    </div>
</section>