<section class="process" id="process">
    <div class="container">
        <h2 class="section-title">Process</h2>

        <div class="process-wrapper">
            <div class="process-item">
                <div class="icon-wrapper">
                    <div class="icon-box">
                        <svg class="process-icon">
                            <use xlink:href="./img/sprite.svg#rocket" alt="keyboard"></use>
                        </svg>
                    </div>
                </div>

                <div class="process-description">
                    <h3 class="process-name item-title">1. Preliminary Consultations</h3>
                    <p class="process-text text-description">You contact us in the most convenient way for you or leave
                        your request. We closely study all aspects of your order.</p>
                </div>
            </div>
            <div class="process-item">
                <div class="icon-wrapper">
                    <div class="icon-box">
                        <svg class="process-icon">
                            <use xlink:href="./img/sprite.svg#rocket" alt="keyboard"></use>
                        </svg>
                    </div>
                </div>
                <div class="process-description">
                    <h3 class="process-name item-title">2. Reaching Agreement</h3>
                    <p class="process-text text-description">You contact us in the most convenient way for you or leave
                        your request. We closely study all aspects of your order.</p>
                </div>
            </div>
            <div class="process-item">
                <div class="icon-wrapper">
                    <div class="icon-box">
                        <svg class="process-icon">
                            <use xlink:href="./img/sprite.svg#rocket" alt="keyboard"></use>
                        </svg>
                    </div>
                </div>
                <div class="process-description">
                    <h3 class="process-name item-title">3. Preview Version</h3>
                    <p class="process-text text-description">You contact us in the most convenient way for you or leave
                        your request. We closely study all aspects of your order.</p>
                </div>
            </div>
            <div class="process-item">
                <div class="icon-wrapper">
                    <div class="icon-box">
                        <svg class="process-icon">
                            <use xlink:href="./img/sprite.svg#rocket" alt="keyboard"></use>
                        </svg>
                    </div>
                </div>
                <div class="process-description">
                    <h3 class="process-name item-title">4. Final Version</h3>
                    <p class="process-text text-description">You contact us in the most convenient way for you or leave
                        your request. We closely study all aspects of your order.</p>
                </div>
            </div>
            <div class="process-item">
                <div class="icon-wrapper">
                    <div class="icon-box">
                        <svg class="process-icon">
                            <use xlink:href="./img/sprite.svg#rocket" alt="keyboard"></use>
                        </svg>
                    </div>
                </div>

                <div class="process-description">
                    <h3 class="process-name item-title">5. Support and Consulting</h3>
                    <p class="process-text text-description">You contact us in the most convenient way for you or leave
                        your request. We closely study all aspects of your order.</p>
                </div>
            </div>
            <div class="process-item">
                <div class="icon-wrapper">
                    <div class="icon-box">
                        <svg class="process-icon">
                            <use xlink:href="./img/sprite.svg#lamp" alt="keyboard"></use>
                        </svg>
                    </div>
                </div>

                <div class="process-description">
                    <h3 class="process-name item-title">6. Mutually Beneficial Cooperation</h3>
                    <p class="process-text text-description">You contact us in the most convenient way for you or leave
                        your request. We closely study all aspects of your order.</p>
                </div>
            </div>
            <div class="process-item">
                <div class="icon-wrapper">
                    <div class="icon-box">
                        <svg class="process-icon">
                            <use xlink:href="./img/sprite.svg#rocket" alt="keyboard"></use>
                        </svg>
                    </div>
                </div>

                <div class="process-description">
                    <h3 class="process-name item-title">7. Preview Version</h3>
                    <p class="process-text text-description">You contact us in the most convenient way for you or leave
                        your request. We closely study all aspects of your order.</p>
                </div>
            </div>
            <div class="process-item">
                <div class="icon-wrapper">
                    <div class="icon-box">
                        <svg class="process-icon">
                            <use xlink:href="./img/sprite.svg#lamp" alt="keyboard"></use>
                        </svg>
                    </div>
                </div>

                <div class="process-description">
                    <h3 class="process-name item-title">8. Final Version</h3>
                    <p class="process-text text-description">You contact us in the most convenient way for you or leave
                        your request. We closely study all aspects of your order.</p>
                </div>
            </div>
            <div class="process-item">
                <div class="icon-wrapper">
                    <div class="icon-box">
                        <svg class="process-icon">
                            <use xlink:href="./img/sprite.svg#lamp" alt="keyboard"></use>
                        </svg>
                    </div>
                </div>

                <div class="process-description">
                    <h3 class="process-name item-title">9. Preview Version</h3>
                    <p class="process-text text-description">You contact us in the most convenient way for you or leave
                        your request. We closely study all aspects of your order.</p>
                </div>
            </div>
        </div>
        <img class="cloud-item" src="img/cloud.png" alt="cloud">
    </div>
</section>