@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Patua+One&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  &.nav-open {
    overflow: hidden;
    @media screen and (min-width: 1024px){
      overflow: auto;
    }
  }
}

p {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.container {
  position: relative;
  margin: auto;
  padding: 0 15px;
  max-width: 1550px;
  @media screen and (min-width: 1024px){
    padding: 0 25px;
  }
}
.site-wrapper {
  overflow: hidden;
}

h1, .main-title {
  position: relative;
  font-family: 'Patua One', Serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  &:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    display: block;
    width: 40%;
    height: 4px;
    background-color: #74c4f0;
  }
  @media screen and (min-width: 768px) {
    width: 45%;
    &:before {
      width: 30%;
      height: 8px;
      bottom: -15px;
    }
  }
  @media screen and (min-width: 1024px) {
    font-size: 80px;
  }
}

h2, .section-title {
  margin: 0 0 35px;
  text-align: center;
  font-family: 'Patua One', cursive;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.05em;
  line-height: 1em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (min-width: 1024px) {
    font-size: 65px;
  }
}

h3, .item-title {
  font-size: 20px;
  font-weight: 900;
  line-height: 1em;
  color: #ffffff;
  @media screen and (min-width: 1024px) {
    font-size: 32px;
  }
}
.main-text__description {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    width: 60%;
  }
  @media screen and (min-width: 1024px) {
    font-size: 32px;
  }
}

.btn {
  width: 246px;
  padding: 12px 60px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #74c4f0;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  &:hover {
    background-color: #74c4f0;
  }
}
.btn-panel {
  margin: auto;
  text-align: center;
  @media screen and (min-width: 1024px){
    max-width: 50%;
  }
}

.sub-title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}

.text-description {
  font-size: 14px;
  color: #aaaaaa;
  line-height: 1.6em;
  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
}
.overlay {
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(26,26,26,0.75);
  }
}