<section class="technologies" id="technologies">
    <div class="container">
        <div class="technologies-block">
            <h3 class="technologies-name">Graphical tools</h3>
            <div class="technologies-list">
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#illustrator" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#photoshop" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#xd" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#figma" alt=""></use>
                </svg>
            </div>
        </div>
        <div class="technologies-block">
            <h3 class="technologies-name">Frontend</h3>
            <div class="technologies-list">
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#html5" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#css" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#js" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#sass" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#wabpack" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#react" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#redux" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#vuejs" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#gatsby" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#less" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#pug" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#bootstrap" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#gulp" alt=""></use>
                </svg>
            </div>
        </div>
        <div class="technologies-block">
            <h3 class="technologies-name">Backend</h3>
            <div class="technologies-list">
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#illustrator" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#photoshop" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#xd" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#figma" alt=""></use>
                </svg>
            </div>
        </div>
        <div class="technologies-block">
            <h3 class="technologies-name">Content Management System</h3>
            <div class="technologies-list">
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#illustrator" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#photoshop" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#xd" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#figma" alt=""></use>
                </svg>
            </div>
        </div>
        <div class="technologies-block">
            <h3 class="technologies-name">Payment systems</h3>
            <div class="technologies-list">
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#illustrator" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#photoshop" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#xd" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#figma" alt=""></use>
                </svg>
            </div>
        </div>
        <div class="technologies-block">
            <h3 class="technologies-name">Version Control System</h3>
            <div class="technologies-list">
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#illustrator" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#photoshop" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#xd" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#figma" alt=""></use>
                </svg>
            </div>
        </div>
        <div class="technologies-block">
            <h3 class="technologies-name">Management tools</h3>
            <div class="technologies-list">
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#redmine" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#basecamp" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#asana" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#trello" alt=""></use>
                </svg>
                <svg class="technologies-icon">
                    <use xlink:href="./img/sprite.svg#slack" alt=""></use>
                </svg>
            </div>
        </div>
    </div>
</section>